# Examen del Modulo

En este documento encontrarás las instrucciones para hacer un ejercicio similar al que vimos juntos en el Módulo 2. Recuerda que puedes agregar más celdas haciendo click en el boton de "+" que se encuentra en la barra de menús

Encontrarás las instrucciones para cada actividad y algunas celdas vacías para que escribas las respuestas:

### Variables

Crea una variable con el nombre variable_uno con un valor de 150

Crea una variable con el nombre variable_dos con un valor de 20

Suma las variables que acabas de crear (variable_uno y variable_dos)

Crea una variable con el nombre primer_nombre y asignale como valor tu nombre

Crea una variable con el nombre primer_nombre y asignale como valor tu nombre

Crea una variable con el nombre primer_apellido y asignale como valor tu apellido

### Listas

Crea una lista llamada numeros_pares y escribe dentro de esta lista todos los numeros pares del 0 al 10

Crea una lista llamada mujeres_lideres y escribe como elementos de esa lista el nombre de 3 mujeres que consideres que van a tener un papel importante en el mundo, ya sea desde la política, tecnología, economía, etc.

Imprime el nombre que se encuentra en la posición 1 de la lista mujeres_lideres

Imprime el nombre que se encuentra en la posición 3 de la lista mujeres_lideres

### Diccionarios

Crea un diccionario llamado persona y crea una llave llamada "nombre" con un valor de nombre y una llave llamada edad con un valor de 23.

Accede al valor de la edad del diccionario persona